main {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;



}

div.post {

    margin: 5px;
    /* width: 70%; */
    height: 80%;

    display: flex;

    /* background-color: blue; */

}

div.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;



    /* background-color: pink; */

}

img.mainImg {
    /* width: 100%; */

    object-fit: contain;
    aspect-ratio: 3/4;
}

div.info {

    width: 50%;

    /* background-color: red; */

}

div.comments {
    margin-top: 78px;
    padding: 0px 40px 0px 40px;
    border: 2px solid black;
    height: 20%;
    /* background-color: orangered; */
}

div.comments>form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

div.comments>form>input.submit {
    width: 58px;
}

div.comment {
    background-color: #ececec;
}

div.comment>div>img {
    aspect-ratio: 4 / 4;
    height: 57px;

}

div.comment>div>div.name {
    display: flex;
    align-items: center;
    justify-content: center;
}



div.comment>div>div.name>p {
    height: 20%;
}

div.userInfo {
    display: flex;
    text-align: center;

}



/* responsive */

@media screen and (width<=465px) {
    div.post {

        margin-top: 30px;

        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    div.img {
        border: 1px solid rgb(112, 98, 98);
        width: 80%;
    }

    img.mainImg {
        /* height: 80%; */
        width: 100%;
    }

    div.info {
        border: 1px solid rgb(112, 98, 98);
        width: 80%;
    }


}